Repository mdsreq-fga-unb/2023.2-NutriPlanner, pull requests merged in 2023-12, with the labels that each got.

#63 feat(estrutura): conexão com o banco de dados
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/db/connection.js
  backend/src/server.js
Labels: backend

#70 US05 - login
  .gitignore
  backend/.env
  backend/src/routes.js
  backend/src/server.js
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.css
  frontend/app/src/App.jsx
  frontend/app/src/PrivateRoute.jsx
  frontend/app/src/Routes.jsx
  frontend/app/src/assets/Key.png
  frontend/app/src/assets/nutriplanner-logo.png
  frontend/app/src/index.css
  frontend/app/src/main.jsx
  frontend/app/src/pages/home/Home.jsx
  frontend/app/src/pages/login/Login.css
  frontend/app/src/pages/login/Login.jsx
Labels: US, frontend, backend

#71 US25 - Cadastro de Paciente
  backend/.env
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/pacienteController.js
  backend/src/models/medidasModel.js
  backend/src/models/pacienteModel.js
  backend/src/routes/pacienteRoutes.js
  backend/src/server.js
  frontend/app/.gitignore
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.css
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.jsx
  frontend/app/src/Pages/Home/Home.jsx
  frontend/app/src/Pages/Login/Login.css
  frontend/app/src/Pages/Login/Login.jsx
  frontend/app/src/Routes.jsx
  frontend/app/src/assets/Key.png
  frontend/app/src/assets/icons/Adição Dieta.svg
  frontend/app/src/assets/icons/Adição Paciente.svg
  frontend/app/src/assets/icons/Agendamento.svg
  frontend/app/src/assets/icons/Ajuda.svg
  frontend/app/src/assets/icons/Chave.svg
  frontend/app/src/assets/icons/Paciente.svg
  frontend/app/src/assets/icons/Sair.svg
  frontend/app/src/assets/icons/Salvar.svg
  frontend/app/src/assets/icons/Treino.svg
  frontend/app/src/assets/icons/Voltar.svg
  frontend/app/src/assets/imgs/logo.svg
  frontend/app/src/assets/nutriplanner-logo.png
  frontend/app/src/assets/react.svg
  frontend/app/src/components/Buttons/Button.css
  frontend/app/src/components/Buttons/Button.jsx
  frontend/app/src/components/Buttons/Menu/MenuButton.css
  frontend/app/src/components/Buttons/Menu/MenuButton.jsx
  frontend/app/src/components/Footer/Footer.css
  frontend/app/src/components/Footer/Footer.jsx
  frontend/app/src/components/Header/Header.css
  frontend/app/src/components/Header/Header.jsx
  frontend/app/src/components/Logo/Logo.css
  frontend/app/src/components/Logo/Logo.jsx
  frontend/app/src/index.css
  frontend/app/src/main.jsx
  frontend/app/src/pages/login/Login.jsx
  texto.jsx
Labels: US, frontend, backend

#73 US24 - Envio de E-mail para Paciente do Banco
  backend/src/enviarEmail.js
  backend/src/script.js
  backend/src/server.js
Labels: US, backend

#76 fix(PBB): Ajuste PBB
  docs/docs_separados/assets/PBB_Funcionalidades1.png
  docs/docs_separados/assets/PBB_Personas1.png
Labels: documentation

#86 [REFACT] Envio de e-mails apenas para pacientes ativos
  backend/src/enviarEmail.js
  backend/src/script.js
Labels: enhancement, US, backend

#77 Fix/bdd
  docs/docs_separados/bdd.md
Labels: documentation

#87 Adição das Especificações de Caso de Uso
  docs/docs_separados/casos_uso.md
  mkdocs.yml
Labels: documentation

#89 [US10] - Visualizar os aniversariantes na página inicial
  backend/src/controllers/pacienteController.js
  backend/src/routes/pacienteRoutes.js
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.css
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.jsx
  frontend/app/src/Pages/Home/Home.css
  frontend/app/src/Pages/Home/Home.jsx
  frontend/app/src/assets/icons/Aniversariante.svg
  frontend/app/src/assets/icons/Bolo de Aniversário.svg
  frontend/app/src/assets/icons/Consultas.svg
  frontend/app/src/assets/icons/GrupoPacientes.svg
  frontend/app/src/components/Header/Header.css
  frontend/app/src/components/Header/Header.jsx
  frontend/app/src/main.jsx
Labels: US, frontend, backend

#85 [REFACT]: Melhorias nas mensagens de erro em Cadastrar Paciente
  backend/src/controllers/pacienteController.js
  backend/src/models/medidasModel.js
  backend/src/models/pacienteModel.js
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.jsx
Labels: enhancement, frontend

#91 [REFACT] Tratamento de campos opcionais em Cadastro de Paciente
  backend/src/models/pacienteModel.js
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.jsx
Labels: enhancement, backend

#92 [US09] Buscar Pacientes
  frontend/app/src/components/Search/Search.jsx
  frontend/app/src/components/Search/SearchStyle.css
Labels: frontend, backend

#93 [FIX]: Visualização dos aniversariantes e quantidade de pacientes novamente
  backend/src/routes/pacienteRoutes.js
Labels: bug, frontend

#94 Adiciona visualização de pacientes
  backend/.env
  backend/src/controllers/pacienteController.js
  backend/src/routes/pacienteRoutes.js
  backend/src/server.js
  docs/docs_separados/verival_UC_gl.md
  docs/produto/criterios_aceit/criterios.md
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/App.css
  frontend/app/src/App.jsx
  frontend/app/src/Components/CardInfoPaciente/index.jsx
  frontend/app/src/Components/CardInfoPaciente/style.css
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.jsx
  frontend/app/src/Pages/Home/Home.css
  frontend/app/src/Pages/Home/Home.jsx
  frontend/app/src/Pages/VerPaciente/VerPaciente.jsx
  frontend/app/src/Pages/VerPaciente/style.css
  frontend/app/src/Routes.jsx
  frontend/app/src/components/Search/SearchStyle.css
  frontend/app/src/index.css
  mkdocs.yml
  package-lock.json
Labels: frontend, backend

#95 [REFACT]: Correções em links
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.css
  frontend/app/src/Pages/CadastroPaciente/CadastroPaciente.jsx
  frontend/app/src/Pages/Home/Home.jsx
  frontend/app/src/Pages/VerPaciente/VerPaciente.jsx
  frontend/app/src/components/Logo/Logo.jsx
Labels: enhancement

#96 Feat/us30 agendar consulta
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/controllers/consultaController.js
  backend/src/models/consultasModel.js
  backend/src/routes/consultaRoutes.js
  backend/src/server.js
  frontend/app/package-lock.json
  frontend/app/package.json
  frontend/app/src/Pages/AgendaConsulta/AgendaConsulta.jsx
  frontend/app/src/Pages/VerTreinos/VerTreinosStyle.css
  frontend/app/src/Routes.jsx
Labels: frontend, backend
